*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    margin: 2rem;
    text-align: center;
    font-size: 3rem;

}

#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie-list {
    width: 31%;
    border: 2px black solid;
    border-radius: 20px;
    margin-bottom: 2em;
    padding: 1rem;
    background-color: antiquewhite;
}

.images {
    width: 90%;
}

.type-year {
    display: flex;
    align-items: center;
    gap: 1em;
}

.like {
    width: 40%;
    margin: 1em 0 1em 5rem;
    display: flex;
    align-items: center;
}

#btn {
    border: none;
    background-color: antiquewhite;
}
.input {
    width: 50px;
    border: none;
    background-color: antiquewhite;
    color: black;
    font-size: 30px;
    /* margin: 0 10px; */
    pointer-events: none;
}
.like-Btn {
    background-color:  antiquewhite;
    border: none;
    font-size: 30px;
    padding: 0 15px;
    margin-left: 20px;
    cursor: pointer;
}

.like-Btn:active {
    color: red;
    transform: scale(1.2);
}

.Btn-reserve {
    display: flex;
    align-items: center;
    gap: 1em;

}


.description, .Reservation {
    padding: 5px;
    font-size: 15px;
    color: rebeccapurple;
    border-radius: 10px;
    
}